PROJECT_NAME=WorkShip AI API
API_VERSION=0.1.0
SUPABASE_URL=https://ppzxzzabxkuhfpmqoctv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwenh6emFieGt1aGZwbXFvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzNzM2MDcsImV4cCI6MjA5OTk0OTYwN30.ifUR9FNncUtti806PBpkRSfuM563BgOcm3mwoBKuV4c
SUPABASE_JWT_SECRET=K9a2PNJY9/++hzuXM40eGhxS5IVMRoMQvx0rG1j4Vd6gE1PSHmoz+H2+gEKQQs70c5sdFSNoZIOHMoOWVKbr1g==
DATABASE_URL=postgresql://postgres:IMgonnawinthisthing@db.ppzxzzabxkuhfpmqoctv.supabase.co:5432/postgres
OPENAI_API_KEY=sk-...